.dashboard-item{
    text-align: center;
    margin-bottom: 100px;
}

.dashboard-item img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
.dashboard-item p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}